<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="">Ingredient Name</label>
      <input class="form-control" name="" type="text" value=""/>
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
      <label for="">Amount</label>
      <input class="form-control" name="" type="text" value=""/>
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">      
      <label for="">Unit</label>
      <div class="input-group">
        <input class="form-control" name="" type="text" value=""/>
      </div>      
    </div>
  </div>
  <div class="col-2">
    <div class="form-group">
      <label>Delete</label>
      <div class="input-group">
        <button class="btn btn-danger" type="button" href="#" (click)="onDelete()" >
          <fa-icon [icon]="faMinus"></fa-icon>
        </button>
      </div>
    </div>     
  </div>  
</div>



