<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark text-muted">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Sous Chef</a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Recipies" aria-label="Search Recipes">
      <button class="btn text-muted"><fa-icon [icon]="faSearch"></fa-icon></button>
    </form>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Add Recipe
      </button>
    </div>
  </div>
</div>
